.carouselCard_container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.carouselCard_img{
    width: 100%;
    height: 100%;
    /* max-height: 400px; */
    border-radius: 10px;
    flex: 1;
}

.image {
    max-width: 100%;
    background-color: grey;
    transition: all 0.4s ease-in-out;
}

.blur {
    filter: blur(10px);
}

.skeleton{
    width: 100%;
    border-radius: 10px;
}