.input_main_container{
    width: 90%;
    /* height: 20px; */
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    border: 1px solid;
    border-radius: 10px;
    transition: border, color 0.2s ease-in-out;
    background: transparent;
    color: #f7f7f7;
    flex-direction: column;
}

.input_container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    gap: 5px;
}
.input {
    width: 100%;
    background: transparent;
    border: none;
    color: #ccc;

  }

  .input::placeholder {
    color: #ccc;
  }



  .input:focus {
    outline: 0;

    /* border: 1px solid #ccc; */
    /* background: #266798; */
  }