.imgContainer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* flex: 0.8; */
  }

.heart {

    fill: red;
    width: 60%;
    animation: pulse 1s ease infinite;
}


@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}

@media screen and (min-width: 576px) {
    .heart{
        width: 50%;
    }


}

@media screen and (min-width: 992px) {
    .heart{
        width: 40%;
    }
}