.dailyInfoContainer{
    padding: 1rem;
    display: grid;
    grid-template-columns: 10% auto 1fr;
    align-items: center;
    gap: 1rem;
    /* justify-content: center; */
}

.timeTable{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-self: center;
    text-align: center;
    justify-content: space-between;
}
.timeBar{
    /* width: 2px; */
    height: 100%;
    border-left: 2px dotted rgb(82, 82, 82);
    /* background-color: black; */
}