.hotel_rootContainer{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
    padding: 1rem;
}


/* .hr{
    width: 30%;
    height: 2px;
    background-color: rgba(237, 237, 237, 0.5);
    border-radius: 10px;
} */

.infoEventContainer{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}

.infoHotelContainer{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* padding: 0.5rem; */
}

.checkInOutContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
}

.checkInOutBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    border: 1px solid rgb(255, 131, 131);
    border-radius: 10px;
}

.swiperSlide{
    width: 80vw;
}