.button{
  cursor: "pointer";
  background-color: red;
  color: #fff;
  border: 1px solid transparent;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  border-radius: 10px;
  width: 50%;
  padding: 10px 20px;
  font-size: 12px;
  margin: auto;
  letter-spacing: 1px;

}

.button:hover {
  background-color: #ff5858;
  color: #fff;
}

.button:focus {
  outline: 0;
}