/* .mainCard{
    background-color: #f9f9f9;
} */

.ticket_rootContainer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.5rem;
    padding: 1rem;
}


.hr{
    width: 30%;
    height: 2px;
    background-color: rgba(237, 237, 237, 0.5);
    border-radius: 10px;
}

.infoRouteContainer{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}