.button{
  cursor: "pointer";
  background-color:  #f7f7f7;;
  color: black;
  /* border: 2px solid red; */
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  border-radius: 10px;
  width: 100%;
  padding: 10px 20px;
  font-size: 20px;
  margin: auto;
  letter-spacing: 1px;

}

.button:hover {
  background-color: #b7b7b7;
  color: #fff;
}

.button:focus {
  outline: 0;
}