.lock:hover {
    cursor: grab;
}

.lock{
    position: absolute;
    width: 10%;
    animation: pulse 1.04s ease infinite;
  }
  

.st2{fill:#D2F0EA;}

.st4{fill:#FBD872;}

.st7{fill:#F6AF62;}



@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}

