.planning_rootContainer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
    padding: 1rem;
}


.hr{
    width: 30%;
    height: 2px;
    background-color: rgba(237, 237, 237, 0.5);
    border-radius: 10px;
}

.infoRouteContainer{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}

.cityMap{
    width: 100%;
    border-radius: 10px;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px; */
}