.mail_root_container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
.mail{
    width: 60%;
    animation: jump 2s ease infinite;;
}
.pulce{
    width: 20%;
}

.shadow{
    width: 50%;
    height: 40px;
    margin-top: -40px;
    border-radius: 50%;
    background-color: rgb(0, 0, 0, 0.4);
}

@keyframes jump {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-25px);
    }

    100% {
        transform: translateY(0px);;
    }
}

