.swiperContainer{
    height: 100%;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px; */

}
.swiper{
    width: 90vw;
    height: 100%;   
}

.swiperContainer::-webkit-scrollbar{
    display: none;
}

.bullets{
    width: 5px;
    height: 5px;
    background-color: green;
}

.prev{
    background-color: blue;
}


.next{
    background-color: red;
}