.main_container{
    width: 100%;
    height: 100vh;
    z-index: 999;
    position: fixed;
    /* top: 50%;
    left: 50%; */
    transform: translate(0, 0);
    /* left: 0;
    top: 0;
    right: 0; */
    /* bottom:0; */
    left: 0;
    right: 0;
    background-color: black;
    touch-action: none;
    /* overflow-y: hidden; */
    /* z-index: 2; */
    animation: bounce-in 0.2s ease-in-out;
}

.navBar{
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
}

.closeIcon{
    color: white;
}

.overlapping_topbar {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 2;
}


.column {
    display: flex;
    align-items: center;
    height: 100%;

}

.img{
    width: 100%;
    height: auto;
}

.row {
    display: flex;
    flex-direction: row;
}


.stretch {
    flex: 1;
}

.column_gap {
    gap: 16px;
}

.centered {
    align-self: center;
}

.padded {
    padding: 0 24px;
}

.imgDescription{
    width: 100%;
    text-align: start;
    padding: 10px 24px;
}

.carouselContainer{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.swiperContainer{
    height: 100%;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px; */

}
.swiper{
    /* width: 90vw; */
    height: 100%;   
}

.swiperContainer::-webkit-scrollbar{
    display: none;
}

.carouselCard_img{
    width: 100%;
    height: 100%;
    /* max-height: 400px; */
    flex: 1;
}

@keyframes bounce-in{
    0%    {opacity: 0; scale: 0;}
    100%  {opacity: 1; scale: 1;}
}