.ticketDetails_rootContainer{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 1rem;
}

.header{
    align-items: flex-start;
}

.details{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.timeTable{
    width: 50%;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid rgb(255, 131, 131);
    border-radius: 10px;
    padding: 1rem;
}

.hr{
    width: 80%;
    height: 2px;
    background-color: black;
}

.trainLogo{
    width: 50px;
    height: 50px
}

.button{
    background-color: rgb(255, 131, 131);
    color: black;
    padding: 5px 20px;
    border: 1px solid rgb(255, 121, 121);
    border-radius: 10px;
    text-decoration: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 5px;

}