.detail_root_container{
    display: flex;

    flex-direction: column;
    gap: 2rem;
    margin: 1rem;
}

.romeImg{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.loaderContainer{
    width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.3);
      /* border-radius: 10px; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
}

.divInfo{
    display: flex;

    flex-direction: column;
    gap: 2rem;
    animation: bounce-in 1s ease-in-out;
}

@keyframes bounce-in{
    0%    {opacity: 0; scale: 0;}
    100%  {opacity: 1; scale: 1;}
}
