.rootContainerHome{
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr;

    background-color: rgb(255, 237, 237);
    overflow-y: hidden;
  }

  .rootContainer::-webkit-scrollbar, .rootContainerHome::-webkit-scrollbar {
    display: none;
  }

  .rootContainer{
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr;

    background-color: rgb(255, 237, 237);
    overflow-y: hidden;
  }