.login_main_container{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2em;
    position: absolute;
    top: 25%;
    left: 50;
    padding: 1em;
    background-color: rgb(0, 0, 0, 0.7);
    border: 2px solid #f7f7f7;
    border-radius: 1rem;
    animation: bounce-in 0.3s ease-in;
}

.login_header_container{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.closeIcon{
    color: white;
}

@keyframes bounce-in{
    0%    {opacity: 0; scale: 0;}
    100%  {opacity: 1; scale: 1;}
}