.riddle_rootContainer{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    gap: 1rem;

}

.textContainer{
    padding: 1rem;
    display: flex;
}

.riddleText{
    /* width: 100%; */
    font-size: 12px;
    line-height: 16px;
    text-align: center;
}

