.dailyPlanning_rootContainer{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.card{
    border: 1px solid rgb(255, 131, 131);
}

.dayTitle_container{
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.dayLabel{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.showDetailsBtn{
    background-color: transparent;
    border: 0;
    opacity: 0.5;

}

.dailyInfoContainer{
    padding: 1rem;
    display: grid;
    grid-template-columns: 10% auto 1fr;
    align-items: center;
    gap: 1rem;
    /* justify-content: center; */
}

.timeTable{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-self: center;
    text-align: center;
    justify-content: space-between;
}
.timeBar{
    /* width: 2px; */
    height: 100%;
    border-left: 2px dotted rgb(82, 82, 82);
    /* background-color: black; */
}