.loading_overlay {
    width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.8);
      border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
  }
  
  .loader {
    border: 10px solid #f3f3f3;
    border-top: 10px solid #ff0000;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
  /* .percentage {
    position: absolute;
  } */
  
  /* .message {
    position: absolute;
    
  } */
  